{% extends 'todo/base.html' %}
{% block content %}

Completed

<ul>
    {% for todo in todos %}

        <li>
            <a href="{% url 'view_todo' todo.id %}">
                {% if todo.important %} <strong> {% endif %}
                    {{ todo.title }}
                {% if todo.important %} </strong> {% endif %}
                {% if todo.memo %} - {{ todo.memo }}{% endif %}
                {{ todo.date_competed|date:'M j Y H:i' }}
            </a>
        </li>


    {% endfor %}
</ul>

{% endblock %}